<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <!-- custom css -->
    <!-- <link rel="stylesheet" href="/public/css/main.css"> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawBarChart);
        google.charts.setOnLoadCallback(drawLineChart);
        google.charts.setOnLoadCallback(drawplaceChart);
    </script>

    <style>

    </style>
</head>

<body>
    <!-- <header>
        <div class="header">
            <div class="logo">
                <h1><a href="/">Bodycare</a></h1>
            </div>

        </div>
    </header> -->

    <section>
        <!-- 왼쪽 메뉴 -->
        <div id="menu" class="">
            <ul class="close_menu_list">
                <li><a id="open" onclick="open_menu_event()" class="" href="#"><img id="open" src="/img/right.png"
                            alter="열기"></a></li>
                <li><a id="menu_icon" class="invisible" href="/"><img src="/img/home_button.png" alter="메인"></a></li>
                <li><a id="menu_icon" class="invisible" href="/camera"><img src="/img/camera.png"
                            alter="촬영세팅"></a></li>
                <li><a id="menu_icon" class="invisible" href="/shoot"><img src="/img/shoot.png" alter="촬영"></a></li>
                <li><a id="menu_icon" class="invisible" href="/record"><img src="/img/album.png" alter="앨범"></a></li>
                <li><a id="menu_icon" onclick="close_menu_event()" class="invisible" href="#"><img src="/img/left.png"
                            alter="닫기"></a></li>
            </ul>
        </div>

        <!-- 사용자 정보입력부분 -->
        <div class="input_section">
            <div id="shootBox" class="">
                <div id="input_name_day">
                <p class="" id="name_select" style="cursor: pointer;">이름</p>
                <p class="" id="day_select" style="cursor: pointer;">날짜</p>
                </div>
                <!-- <select id="selectBox" name="목록" onchange="changeSelection()">
                    <option value="이름">이름</option>
                    <option value="날짜">날짜</option>
                </select> -->
                <form action="/record" method="post">
                <input class="" id="inputName" type="text" placeholder="이름을 입력해주세요.*"><img class=""
                    id="camera_searchPic" src="/img/search.png">
                <!-- <input id="inputDate" class="invisible" type="date"> -->
            </form>
                <div id="inputBox" class="invisible">
                    <!-- <div id="inputName"> -->

                    <!-- </div> -->
                    <form action="/human_data" method="post">
                    <div id="inputGender">
                        <input class="gender" name="gender" type="radio"><span class="genderText">남성</span>
                        <input class="gender" name="gender" type="radio"><span class="genderText">여성</span>
                    </div>
                    <div id="inputAgeKg">
                        <input id="inputAge" type="text" placeholder="나이*">
                        <input id="inputKg" type="text" placeholder="체중*">
                    </div>
                    <input id="inputNumber" type="text" placeholder="연락처">
                    <div id="buttonDiv">
                        <button id="shootButton" type="button"><img id="ready" class=""
                                src="/img/shootReady.png"></button>
                    </div>
                    </form>

                </div>


                <!-- 기록조회 -->
                <!-- 키 입력시 창 뜨게 하기 -->

                <div id="camera_outer_record_box" class="">
                    <div id="camera_inner_record_box">
   
                    </div>
                </div>

                <div id="button_set">
                    <div id="inner_button_set">
                        <button id="record_search" type="button" style="cursor: pointer;">촬영 시작</button>
                        <button id="new_record" type="button" style="cursor: pointer;">새로 작성</button>
                    </div>

                </div>
            </div>


            <script>

                const $name = document.getElementById('name_select');
                const $day = document.getElementById('day_select');
                const $inputName = document.getElementById('inputName');
                $name.addEventListener('click', function() {
                    $name.className = "bold";
                    $day.className = "";
                    $inputName.placeholder="이름을 입력해주세요.";

                })

                $day.addEventListener('click', function() {
                    $day.className = "bold";
                    $name.className = "";
                    $inputName.placeholder="날짜를 입력해주세요.";

                })


                //키업이벤트 시킬 요소 가져옴
                const $searchInput = document.getElementById('inputName');
                let $count = 0;

                let $arr = [];

                

                //p태그 클릭시 p태그 안의 데이터 담을 변수
                let p_text = '';

                //기록조회 버튼
                const $record_show = document.getElementById('record_search');

                //태그 안의 데이터를 dict형식으로 담아둘 변수
                let $dict = {};

                

                function sqlInput(){
                    <% if(users) { %>

                    <% users.forEach(function (value) { %>

                        $arr.push({ name: '<%=value.name%>', age: '<%=value.age%>', gender: '<%=value.gender%>', tel: '<%=value.tel%>', height: '<%=value.height%>', weight: '<%=value.weight%>' });


                    <% }); %>

                        console.log($arr);
                        <% } %>

                    
                }
            
                sqlInput();

                $searchInput.addEventListener('keyup', function () {
                    console.log($searchInput.value, "11111111");

                    //p태그 집어넣을 부분 요소
                    const $input_box = document.getElementById('camera_inner_record_box');
                    // 목록 박스 열기
                    const $list = document.getElementById('camera_outer_record_box');
                    $list.className = "";
                    //p태그 생성
                 
                    var i = 0;   
                    var p_list = [];
                    var cnt = 0;
                    
                    //for문
                    while(true) {
                        

                        
                        //만약 입력한 값이 서버에 등록되어있다면
                        // if($arr[i].name === $searchInput.value){

                        //만약 입력한 값이 포함되어있다면  배열에 담아서 출력해야하나....
                        if($arr[i].name.indexOf($searchInput.value) != -1) {
                                cnt++;
                           
                            p_list.push($arr[i].name + ',' + $arr[i].age + ',' + $arr[i].gender + ',' + $arr[i].tel + ',' + $arr[i].height + ',' + $arr[i].weight);
                            console.log(p_list,"p_list!!!!!!!!!!!!!");
                            

                            $dict = { name: $arr[i].name, age: $arr[i].age , gender: $arr[i].gender , tel:  $arr[i].tel, height: $arr[i].height, weight: $arr[i].weight };


                    }

                    
                        let p = document.getElementById('record_list');
                        if(p){
                            p.remove();
                            if(p_list.length > 1) {
                            
                            for(let j = 0; j < p_list.length/2; j++) {
                                console.log("for문!!!");
                                let $input_p = document.createElement("p");
                                $input_p.id = "record_list";
                                $input_p.textContent = p_list[j];

                                $input_box.appendChild($input_p);
                            
                                $input_p.addEventListener('click', function() {
                        console.log("!!!!!!!!!!!!!!!!!!!!!");
                        p_text = $input_p.textContent;
                        console.log(p_text,"text!!!!!");
                    })
                            }

                            

                        }
                        
                        }else {
                            
                            for(let j = 0; j < p_list.length; j++) {
                                console.log("for문!!!");
                                let $input_p = document.createElement("p");
                                $input_p.id = "record_list";
                                $input_p.textContent = p_list[j];

                                $input_box.appendChild($input_p);
                                
                                $input_p.addEventListener('click', function() {
                            console.log("!!!!!!!!!!!!!!!!!!!!!");
                            p_text = $input_p.textContent;
                            console.log(p_text,"text!!!!!");
                    })
                            }

                           

                        }
                    

                        i++;

                    }
                    
                            


                    
                    // console.log($input_box.innerHTML);
                    $count += 1;
                    // console.log($count);
                    // p 태그가 5개가 되면 버튼 하나씩 생성하는 함수 만들기
                    if ($count % 5 === 0) {
                        console.log(`${$count}개!!`);
                    }

                })

                const $search = document.getElementById('camera_searchPic');
                    $search.addEventListener('click', function() {
                        console.log('search!!!!!');
                        while(true) {
                        

                        
                        //만약 입력한 값이 서버에 등록되어있다면
                        if($arr[i].name === $searchInput.value){


                            $input_p.textContent = $arr[i].name + ',' + $arr[i].age + ',' + $arr[i].gender + ',' + $arr[i].tel + ',' + $arr[i].height + ',' + $arr[i].weight;
                            
                            $input_box.appendChild($input_p);
                        }

                        i++;

                    }
                    })
                    
                    //검색해서 나온 리스트 클릭시 클릭이벤트
                    
                    $record_show.addEventListener('click', function() {

                        // var postDict = JSON.stringify($dict);
                        //ajax로 넘기거나 소켓통신으로 넘기거나.....
                        $.ajax({
                        type: "post",
                        url: "/startshoot",
                        data: $dict,
                        async: false,
                        success: function (data) {
                            console.log($dict,"$dict!!");
                            console.log(data, "data!!!!");
                            
                            window.location.replace("http://localhost:3300/shoot");
                        },
                        error: function (e) {
                            alert(e.reponseText);
                        }
                    });

                    })


                    //새로작성 클릭시 입력 창 띄우는 이벤트
                    const $write = document.getElementById('new_record');
                    const $newInput = document.getElementById('inputBox');
                    const $recordWindow = document.getElementById('camera_outer_record_box');
                    $write.addEventListener('click', function() {
                        $newInput.className = "";
                        $recordWindow.className = "invisible";

                    })







                // 기록조회클릭시 정보 갖고 album.ejs로 보내는 이벤트
                
            //     function value() {
            //     var val = 

            //     return val;
            // }

            //     $('#record_search').on('click', function () {
            //     // console.log(value + "if문 바깥쪽");
            //     if (p태그 텍스트) {
            //         console.log(p태그 텍스트);
            //         // console.log(value + "if문 안쪽");
            //         var param = {
            //             "name": $('#name').val(),
                        
            //         }
            //         console.log(param);
            //         var rvalue = new Array();
            //         $.ajax({
            //             type: "post",
            //             url: "/record",
            //             data: param,
            //             async: false,
            //             success: function (data) {
            //                 window.location.replace("http://localhost:3000");
            //             },
            //             error: function (e) {
            //                 alert(e.reponseText);
            //             }
            //         });
            //     }
            // })
            </script>
        </div>



        <!-- 카메라 부분 -->
        <div id="camera_section" class="invisible">

            <div id="shootButtonBox">
                <button id="shootButtonBox_shootButton" type="button"><img src="/img/shootButton.png"></button>
            </div>
            <script>
                // 버튼 누르면 다른 페이지로 가는 스크립트


            </script>

            <!-- 촬영화면 -->
            <div id="shootScreen" class="">
                <div id="inner_screen" class="">
                    <canvas></canvas>
                </div>
            </div>
            <div id="shootSetting">
                <h2>촬영 설정을 변경해주세요</h2>
                <div>
                    <p>밝기</p>
                    <div class="seek-bar">
                        <div id="circle" class="circle">
                            <span>0</span>
                        </div>
                    </div>
                    <p>대비</p>
                    <div class="seek-bar">
                        <div id="circle" class="circle">
                            <span>0</span>
                        </div>
                    </div>
                    <p>배율</p>
                    <div class="seek-bar">
                        <div id="circle" class="circle">
                            <span>0</span>
                        </div>
                    </div>
                </div>

                <div id="imgBox">
                    <a id="back" onclick="settingDefault()" href="#"><img src="/img/back.png" alter="뒤로가기"></a>
                </div>
            </div>


            <div id="screenSetting" class="">

                <div>
                    <div class="slider">
                        <ul id="imgholder" class="imgs">
                            <div id="setting_one">
                                <li><img id="one" src="/img/orange.png"></li>
                            </div>
                            <div id="setting_two">
                                <li><img id="two" src="/img/apple.png"></li>
                            </div>
                            <div id="setting_three">
                                <li><img id="three" src="/img/orange.png"></li>
                            </div>
                            <div id="setting_four">
                                <li><img id="four" src="/img/apple.png"></li>
                            </div>
                            <div id="setting_five">
                                <li><img id="five" src="/img/orange.png"></li>
                            </div>
                        </ul>

                    </div>
                </div>
            </div>




            <script>
                const $one = document.getElementById('one');

                $one.addEventListener('click', function () {
                    translateOne();

                });

                const $two = document.getElementById('two');

                $two.addEventListener('click', function () {
                    translateTwo();

                });

                const $four = document.getElementById('four');

                $four.addEventListener('click', function () {
                    translateFour();

                });

                const $five = document.getElementById('five');

                $five.addEventListener('click', function () {
                    translateFive();

                });


                /////////////// select태그에서 날짜 선택시 input date 열기//////////////////

                function changeSelection() {

                    var select = document.getElementById("selectBox");
                    var value = (select.options[select.selectedIndex].value);

                    console.log(value);
                    if (value === "날짜") {
                        const $name = document.getElementById('inputName');
                        // $name.className = "invisible";
                        const $date = document.getElementById('inputDate');
                        const $pic = document.getElementById('camera_searchPic');
                        $date.className = "";
                        $name.className = "invisible";
                        $pic.className = "invisible";


                    } else if (value === "이름") {

                        const $date = document.getElementById('inputDate');
                        // $date.className = "invisible";
                        const $name = document.getElementById('inputName');
                        const $pic = document.getElementById('camera_searchPic');
                        $name.className = "";
                        $date.className = "invisible";
                        $pic.className = "";

                    }
                }

            </script>


</body>

</html>