<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <!-- custom css -->
    <!-- <link rel="stylesheet" href="/public/css/main.css"> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawBarChart);
        google.charts.setOnLoadCallback(drawLineChart);
        google.charts.setOnLoadCallback(drawplaceChart);
    </script>

    <style>

    </style>
</head>

<body>
    <!-- <header>
        <div class="header">
            <div class="logo">
                <h1><a href="/">Bodycare</a></h1>
            </div>

        </div>
    </header> -->

    <section>
        <!-- 왼쪽 메뉴 -->
        <div id="menu" class="">
            <ul class="close_menu_list">
                <li><a id="open" onclick="open_menu_event()" class="" href="#"><img id="open" src="/img/right.png"
                            alter="열기"></a></li>
                <li><a id="menu_icon" class="invisible" href="/"><img src="/img/home_button.png" alter="메인"></a></li>
                <li><a id="menu_icon" class="invisible" href="/camera"><img src="/img/camera.png"
                            alter="촬영세팅"></a></li>
                <li><a id="menu_icon" class="invisible" href="/shoot"><img src="/img/shoot.png" alter="촬영"></a></li>
                <li><a id="menu_icon" class="invisible" href="/record"><img src="/img/album.png" alter="앨범"></a></li>
                <li><a id="menu_icon" onclick="close_menu_event()" class="invisible" href="#"><img src="/img/left.png"
                            alter="닫기"></a></li>
            </ul>
        </div>

        <!-- 기록부분 -->
        <div class="record_section">
            <div id="record_div" class="">
                <div id="inner_record_div" class="">
                    <div id="record_one_div">
                        <a id="before_frame"><img src="/img/back_black.png"></a>
                    </div>
                    <div id="record_two_div">
                        <input id="record_input" type="text" placeholder="검색어를 입력하세요."><img id="searchPic"
                            src="/img/search.png">
                    </div>
                    <div id="record_three_div">
                        <button id="asc_desc"><img src="/img/sort.png"></button>
                    </div>
                </div>
            </div>

            <div id="outer_record_box" class="invisible">
                <div id="inner_record_box">

                </div>
            </div>
            <div id="album_button_set" class="invisible">
                <div id="album_inner_button_set">
                    <button id="album_record_search">기록 조회</button>
                </div>

            </div>


            <!-- 결과출력 -->
            <div id="result_chart_section" class="invisible">
                <div id="outer_result_div">
                    <div id="inner_result_div">
                        <div class="barchart_background"></div>
                        <div id="barchart_values"></div>
                    </div>
                </div>

            </div>


        </div>


        <script>
            //키업이벤트 시킬 요소 가져옴
            const $searchInput = document.getElementById('record_input');
            let $count = 0;

            let $arr = [];

            const $input_p = document.createElement("p");

            $input_p.id = "record_list";

            function valueInput(){
                <% if(data) { %>

                $arr.push({ name: '<%=data.name%>', age: '<%=data.age%>', gender: '<%=data.gender%>', tel: '<%=data.tel%>', height: '<%=data.height%>', weight: '<%=data.weight%>' });

                console.log($arr);
                <% } %>
            }

            valueInput();


        </script>



    </section>


</body>

</html>